<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Solar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Solar.Properties.Settings>
            <setting name="USR_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="SAV_ID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbConStr" serializeAs="String">
                <value>SERVER=118.67.133.76;port=3307;DATABASE=db_main;UID=solar;PASSWORD=Manchboy8037~!;convert zero datetime=True</value>
            </setting>
            <setting name="myWeb" serializeAs="String">
                <value>https://www.tankauction.com/</value>
            </setting>
            <setting name="myFTP" serializeAs="String">
                <value>ftp://www.tankauction.com:50021/FILE/</value>
            </setting>
            <setting name="myFTPUsr" serializeAs="String">
                <value>solar</value>
            </setting>
            <setting name="myFTPPwd" serializeAs="String">
                <value>Manchboy8037~!</value>
            </setting>
        </Solar.Properties.Settings>
    </userSettings>
</configuration>